<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
<<<<<<< HEAD
=======
    <a>ベーーーーーー おっぱい大事   おっす</a>
>>>>>>> f01a0bec4bd6b408b245b57a88b2735e13371290
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <%= yield %>
  </body>
  </div>
</html>
